# Object Files
*.o
*.lo
*.la

# Libraries
*.lib
*.a
.libs

# Shared objects
*.so
*.so.*

# Dependencies
.dirstamp
.deps

# Automake
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config/
config.h
config.h.in*
config.log
config.status
configure*
libtool
m4/
stamp-h1

# Project/Eclipse
.cproject
.project

#Ctags
tags

#Programs
ib_atomic_bw
ib_atomic_lat
ib_read_bw
ib_read_lat
ib_send_bw
ib_send_lat
ib_write_bw
ib_write_lat
raw_ethernet_bw
raw_ethernet_lat
raw_ethernet_burst_lat
raw_ethernet_fs_rate

#Debian Stuff
debian/compat
debian/*.log
debian/files
debian/perftest

# CMake
.cache
build
man
